
body{
	background-color: #FFFFFF;
	color: 	#8B0000;
	margin: 0px;
	/*#8E61A9, */
}
header{
	text-align: center;
	height: 100%;
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000000;
}
footer{
	text-align: left;
	font-family: serif;
	font-size: 12px;
	width: 250px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #000000;
	color: #FFFFFF;
}
main{
	text-align: center;
	padding-left: 270px;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1{
	text-align: right;
	font-size: 50px;
	font-family: sans-serif;
	font-weight: 100;
	color: #FFFFFF;
}
h1 div{
	padding: 10px 30px 10px 10px;
	background-image: url("../img/stroke.png");
	background-repeat: no-repeat;
	background-size: 250px;
}
nav{
	/*
	word-spacing: 80px;
	*/
	text-align: left;
	font-family: 'Verdana';
	letter-spacing: 2px;
	text-transform: uppercase;
}
nav a {
	padding: 10px 20px 10px;
	text-decoration: none;
	font-size: 16px;
	color: #FFFFFF;
	display: block;
	/*#27221F*/
}
a:hover {
	background-color: #8B0000;
}
a {
	color: #27221F;
}
section{
	text-align: left;
}
img, video {
  max-width: 100%;
  vertical-align: middle;
}